.DropDownList {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.DropDownListContainer {
  display: flex;

  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  min-width: min(10vw, 200px);
}

.DropDownListContainer::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 20px;
  transform: translateY(-100%) translateX(50%);
}

.DropDownListContainer:hover {
  cursor: pointer;
}

.DropDownListDevider {
  height: 1px;

  width: 100%;
  background-color: black;
}
