.DiscountBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .DiscountBar {
    display: none;
  }
}

.DiscbountBarContainer {
  max-width: 1500px;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.DiscountBarRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.DiscountBarRowsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130%;
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}
