.WhyGoHalalContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.WhyGoHalal {
  padding-top: min(10%, 120px);
  padding-bottom: min(10%, 120px);
  max-width: 1500px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1250px) {
  .WhyGoHalal {
    width: 60%;
  }
}

.WhyGoHalalLeftSide {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WhyGoHalalLeftSide > img {
  max-width: min(35vw, 350px);
  min-width: 120px;
  width: 100%;
  margin-bottom: min(20%, 40px);
}

.WhyGoHalalButton {
  background-color: #115c07;
  border: none;
  padding: min(2vw, 15px);
  color: white;
  font-family: "Maven Pro", sans-serif;
  font-size: min(3vw, 16px);
  width: fit-content;
  /* font-weight: bold; */
  cursor: pointer;
}

.WhyGoHalalButton:hover {
  background-color: #12420b;
}

.WhyGoHalalRightSide {
  height: 100%;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WhyGoHalalText > span {
  font-family: "Maven Pro", sans-serif;
  font-size: min(4vw, 23px);
  line-height: min(3vw, 1.7rem);
}

@media (max-width: 800px) {
  .WhyGoHalalLeftSide > img {
    max-width: none;
    width: clamp(30px, 60vw, 200px);
  }

  .WhyGoHalalButton {
    font-size: var(--text-mobile);
    padding: 0.5em 1em;
  }

  .WhyGoHalalText > span {
    font-size: var(--text-mobile-small);
    line-height: 1.2em;
  }

  .WhyGoHalal {
    width: 90%;
  }
}

.blackText {
  color: black;
}

.greenText {
  color: #a4d232;
  font-weight: bold;
}

.WhyGoHalalBottomText {
  margin-top: min(10%, 40px);
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-size: min(4vw, 23px);
  background-color: #a4d232;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}
