.DropDownClickList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: fit-content;
  position: relative;
}

.DropDownClickListHeader {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: min(3vw, 17px);
  align-items: center;
  justify-content: space-between;
}

.DropDownClickListHeader:hover {
  cursor: pointer;
}

.DropDownClickListHeader > span {
  white-space: nowrap;
  color: black;
  font-family: "Maven Pro", sans-serif;
  width: 90%;
  overflow-x: hidden;
  text-align: left;
}

.DropDownClickListHeader > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: min(2vw, 20px);
  margin-left: min(2vw, 20px);
}

.devider {
  width: 1px;
  height: 50%;
  background-color: rgb(207, 207, 207);
}

#arrow {
  width: min(3vw, 20px);
}

.Categories {
  position: absolute;
  display: flex;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  background-color: white;
  /* min-width: 220px; */
  border: 1px solid rgb(207, 207, 207);
  /* transform: translateY(calc(50% + min(4vw, 30px))); */
  bottom: 0;
  transform: translateY(100%);
  z-index: 200;
}

.CategoriesTop {
  flex-direction: row !important;
  padding: 0.5em;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  /* height: 20px !important; */
}


.CategoriesTop > span {
  padding: 0 !important;
  margin: 0 1em;
}

.Categories > div {
  color: black;
  width: 100%;
  font-size: min(3vw, 17px);
  font-family: "Maven Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#AllCategories {
  font-size: min(3vw, 17px);
  font-family: "Maven Pro", sans-serif;
}



.Categories > div > span {
  padding: 1em 2em;
}

@media (max-width: 800px) {
  .Categories > div > span {
    padding: 0.7em 1.5em;
  }
}

.divider {
  width: 70%;
  height: 1px;
  background-color: rgb(207, 207, 207);
}
